
.container {
  position: relative;
  text-align: center;
  font-family: arial, sans-serif;
  font-weight: bold;
  font-size: 80px;
  margin-top: 90px;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  background-color: Burlywood;
}


p{text-align: center;
font-family: arial;
font-size: 20px;
color: #411C05;
}


.nav ul {
  font-family: arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 150px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  text-align:right;
  height: 30px;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav li {

  display: inline;
  padding: 0px 10px 0px 0px;
  font-size: 15px;
}

#logo {
  color: white;
  font-size:20px;
  font-weight: bold;
  font-family: arial, sans-serif;
}

.nav a {
  color: white;
  text-decoration: none;
  display: inline;
  padding-right: 5px;
}

.nav li a:hover {
  background: white;
  color: Burlywood;
}


img {display: block;
  margin-left: auto;
  margin-right: auto;
  width:300px;
  height:200px;
  border-radius: 50%;
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

#googleform {text-align: center;}
